

<nav class="navbar navbar-expand-lg " style="background-color: #df0000;">
  <div class="container-fluid">
    <button type="button" class="btn btn-link" style="color: #ffffff;">your location</button>
    

    <div class="justify-content: space-between" >
      <button type="button" class="btn btn-sm btn-link" style="color: #ffffff;">Registry</button>
      <button type="button" class="btn btn-sm btn-link" style="color: #ffffff;">Weekly Ad</button>
      <button type="button" class="btn btn-sm btn-link" style="color: #ffffff;">Red Card</button>
      <button type="button" class="btn btn-sm btn-link" style="color: #ffffff;">Target Circle</button>
      <button type="button" class="btn btn-sm btn-link" style="color: #ffffff;">Find Stores</button>
    </div>
</div>
</nav>